@import './variables.scss';
@import './flex.scss';
@import './element-ui.scss';

body {
	margin: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
